@font-face {
    font-family: TorontoSubway;
    src: url("./TorontoSubway.ttf");
}

:root {
    --circleSize: 20px;
    --lineThickness: 7px;
    --wordsHeight: 200px;
    --deadSpace: 105px;
    --titleFontSize: 35px;
    --headerFontSize: 24px;
    --subHeaderFontSize: 18px;
    --paragraphFontSize: 16px;
    --contentFont: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    display: flex;
    flex-direction: column;
    font-family: TorontoSubway;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.full-name {
    font-size: var(--headerFontSize);
}

.marcus-circle {
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.marcus-circle-number {
    font-family: Arial;
    font-size: 20px;
    color: black;
}

.metro {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;

}

.block {
    display: flex;
}

.line {
    display: flex;
}


.station-circle {
    position: relative;
    width: var(--circleSize);
    height: var(--circleSize);
    border-radius: 50%;
    border: calc(var(--circleSize)/4) solid black;
    background-color: white;
    z-index: 2;
}

.station-circle:hover {
    background-color: gray;
}

.vertical-line {
    content: "";
    position: relative;
    width: var(--lineThickness);
    height: 100%;
    background-color: #F8C400;
    transform: translate(11.5px, -1px);
    z-index: 0;
}

#block3 .content .vertical-line, #block3 .dead-space {
    background-color: #089143; 
}

#block4 .content .vertical-line, #block4 .dead-space {
    background-color: #0091E2; 
}

#block5 .content .vertical-line, #block5 .dead-space {
    background-color: #96467B; 
}

#block6 .content .vertical-line, #block6 .dead-space {
    background-color: #F87101; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height:70px;
}

.pivot {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    font-family: TorontoSubway;
    user-select: none;
}

.pivot:hover {
    cursor: pointer;    
    color: rgb(101, 101, 101);
}
.pivot .header {
    font-size: var(--headerFontSize);
}
.pivot .subheader {
    font-size: var(--subHeaderFontSize);
    font-style: italic;
    margin-top: -3px;
}


.words {
    display: none;
    flex-direction: column;
    font-family: var(--contentFont);
    padding-left: 6px;
    margin-bottom: 10px;
    min-height: 50px;
    overflow: hidden;
    align-items: center;
}

.dead-space {
    position: relative;
    width: var(--deadSpace);
    content: "";
    height: var(--lineThickness);
    transform: translate(-10px, 11.5px);
    background-color: black;
    z-index: 0;
    margin-right: -12px;
}

.dead-space p {
    position: absolute;
    transform: translate(10px, -40px);
    font-family: TorontoSubway;
}





