@font-face {
    font-family: TorontoSubway;
    src: url("./TorontoSubway.ttf");
}

:root {
    --circleSize: 20px;
    --lineThickness: 7px;
    --wordsHeight: 200px;
    --deadSpace: 90px;
    --headerFontSize: 45px;
    --subHeaderFontSize: 35px;
    --paragraphSize: 25px;
}

.title {
    font-family: TorontoSubway;
    text-align: center;
}

.active {
    display: block;
}

.metro {
    position: absolute;
    left: 40%;
    top: 90px;
}

.block {
    display: flex;
}

.line {
    display: flex;
}


.station-circle {
    position: relative;
    width: var(--circleSize);
    height: var(--circleSize);
    border-radius: 50%;
    border: calc(var(--circleSize)/4) solid black;
    background-color: white;
    z-index: 2;
}

.station-circle:hover {
    background-color: gray;
}

.vertical-line {
    content: "";
    position: relative;
    width: var(--lineThickness);
    height: 100%;
    background-color: #F8C400;
    transform: translate(11.5px, -1px);
    z-index: 0;
}

#block3 .content .vertical-line, #block3 .dead-space {
    background-color: #089143; 
}

#block4 .content .vertical-line, #block4 .dead-space {
    background-color: #0091E2; 
}

#block5 .content .vertical-line, #block5 .dead-space {
    background-color: #96467B; 
}

#block6 .content .vertical-line, #block6 .dead-space {
    background-color: #F87101; 
}

.pivot {
    position: relative;
    width: 100%;
    height: calc(var(--circleSize) + 2*(var(--circleSize)/4) + 40px);
    user-select: none;
}


.pivot:hover {
    cursor: pointer;
}

.pivot p {
    transform: translate(5px, -10px);
    font-family: TorontoSubway;
}

.dead-space {
    position: relative;
    width: var(--deadSpace);
    content: "";
    height: var(--lineThickness);
    transform: translate(-10px, 11.5px);
    background-color: black;
    z-index: 0;
    margin-right: -12px;
}

.dead-space p {
    position: absolute;
    transform: translate(10px, -40px);
    font-family: TorontoSubway;
}

.words {
    min-height: var(--wordsHeight);
    display: none;
    overflow: hidden;
}


