@font-face {
    font-family: TorontoSubway;
    src: url("./TorontoSubway.ttf");
}

:root {
    --circleSize: 20px;
    --lineThickness: 12px;
    --wordsHeight: 200px;
    --deadSpace: 115px;
    --deadSpaceVertical: 50px;
    --titleFontSize: 30px;
    --headerFontSize: 20px;
    --subHeaderFontSize: 16px;
    --paragraphFontSize: 16px;
    --contentFont: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef9f3;
}

.page-header {
    display: flex;
    flex-direction: column;
    font-family: TorontoSubway;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.full-name {
    font-size: var(--titleFontSize);
}

.marcus-circle {
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.marcus-circle-number {
    font-family: Arial;
    font-size: 20px;
    color: black;
}

.metro {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-content: center;

}

.block {
    display: flex;
    width: 100%;
    max-width: 600px;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.station-circle {
    min-width: var(--circleSize);
    min-height: var(--circleSize);
    border-radius: 50%;
    border: calc(var(--circleSize)/4) solid black;
    background-color: white;
    z-index: 2;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}



/* .station-circle:hover {
    background-color: gray;
} */


.vertical-line {
    position: relative;
    margin-top: -15px;
    margin-bottom: -15px;
    width: var(--lineThickness);
    height: 100%;
    background-color: #F8C400;
    /* transform: translate(11.5px, -1px); */
    z-index: 0;
}

#block3 .content .vertical-line, #block3 .dead-space {
    background-color: #089143; 
}

#block4 .content .vertical-line, #block4 .dead-space {
    background-color: #0091E2; 
}

#block5 .content .vertical-line, #block5 .dead-space {
    background-color: #96467B; 
}

#block6 .content .vertical-line, #block6 .dead-space {
    background-color: #F87101; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content::after{
    min-height: var(--deadSpaceVertical);
    content: "";
}

.pivot {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    font-family: TorontoSubway;
    user-select: none;
    width: 100%;
}

.pivot:hover {
    cursor: pointer;    
    color: rgb(101, 101, 101);
}
.pivot .header {
    font-size: var(--headerFontSize);
}
.pivot .subheader {
    font-size: var(--subHeaderFontSize);
    font-style: italic;
    margin-top: -3px;
}




.words {
    display: none;
    /* flex-direction: column; */
    font-family: var(--contentFont);
    font-size: var(--paragraphFontSize);
    padding-left: 6px;
    overflow: hidden;
    align-items: left;
}

.words p:last-child {
    margin-bottom: 0px;
}

.dead-space {
    position: relative;
    min-width: var(--deadSpace);
    margin-left: -15px;
    margin-top: 8px;
    height: var(--lineThickness);
    /* transform: translate(-10px, 11.5px); */
    background-color: black;
    z-index: 0;
    margin-right: -12px;
}

.dead-space p {
    position: absolute;
    font-size: var(--paragraphFontSize);
    transform: translate(10px, -40px);
    font-family: TorontoSubway;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--subHeaderFontSize)
}

.canada {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.canada div {
    padding-left: 10px;
    font-family: TorontoSubway;
}


.footer .subheader {
    font-family: monospace;
}




